@font-face {
    font-family: 'MyFont';
    src: url('./fonts/TencentSansW7-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
body{
    width: 100%;
    background: url("./images/logo-2.png");
    font-family: 'MyFont';
}